body {
    margin: 0;
    background: #EEEEEE;
    font-family: Arial;
}

header {
    background: #333333;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 18px;
}

main {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.card {
    background: white;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
    margin-left: 10px;
}

.row {
    display: flex;
    flex-direction: row;
}

.w-30 {
    width: 30%;
}

.w-70 {
    width: 70%;
}

.w-100 {
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
}

nav a:hover {
    background-color: #0096ff;
    color: black;
}

main h1 {
    text-align: center;
}

main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    max-width: 90%;
}

main li {
    line-height: 1.5;
}

main p {
    line-height: 1.5;
}

main iframe {
    width: 100%;
}

.video {
    width: 1200px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#au_map {
    transform: rotate(180deg) scaleX(-1);
}

.trans {
    transform: rotate(180deg) scaleX(-1);
}

#au_first {
    color: #0096ff;
}

.galery_container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.gallery {
    width: 240px;
}

.gallery_item {
    margin-top: 10px;
    border: 3px solid #333333;
    border-radius: 5px;
    float: left;
    width: 240px;
    background: #333333;
}

.gallery_item:hover {
    border: 3px solid #0096ff;
    transform: scale(1.3);
}

.gallery_item img {
    width: 100%;
    margin-top: 5px;
    height: auto;
}

.gallery_item .desc {
    padding: 15px;
    text-align: center;
    color: #0096ff;
}

.collage:hover {
    transform: scale(1.2);
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #ddd;
    padding: 4px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #c9c9c9;
}

table a {
    color: black;
}

th {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #0096ff;
    color: white;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    margin-top: 20px;
    background: #333333;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}